
<nav class="navbar navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'All Products', products_path %></li>
				<li><%= link_to 'My Cart', cart_path %></li>
				<li><%= link_to 'Books to Rent', book_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to 'My Account', edit_user_registration_path , :style=> 'color:white;' %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, :style=> 'color:white;', :method => :delete %></li>
				<% else %>
					<li><%= link_to 'Login', new_user_session_path, :style=> 'color:white;' %></li>
					<li><%= link_to 'Register', new_user_registration_path, :style=> 'color:white;'%></li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>

<div id="header">
  <p>P D X Perk</p>
</div>
